/* General Styles */
* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, section {
	display: block;
}

address, blockquote, button, dl, footer, input, 
h1, h2, h3, h4, h5, h6, 
p, samp, select, table, th, td, ul.list-inline,
[class^=grid]
{ padding: 5px; }

body {
	color: #212121;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.5;
}

label { font-weight: bold; }

h1, h2, h3, h4, h5, h6, p, .clear-fix { clear: both; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #666666;
	font-size: 75%;
	font-weight: 400;
}

a { color: #0288D1; }
a:hover { color: #03A9F4; }

abbr {
	border-bottom: 1px dotted #212121;
	cursor: help;
	padding: 0;
}

address { font-style: normal; }

blockquote {
	border-left: 5px solid #666666;
	margin: 5px 15px;
}

blockquote footer:before {
	content: "- ";
}

code, kbd, pre, samp { font-family: "Lucida Console", Consolas, "Courier New", Courier, Monaco, monospace }

table { 
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
table thead tr th, table tfoot tr th{ text-align: left; }
table.table-bordered th, table.table-bordered td { border: 1px solid #999; }
table thead { border-bottom: 2px solid #666666; }
table tfoot { border-top: 2px solid #666666; }
table.table-shrink th, table.table-shrink td { padding: 1px; }
table.table-striped tbody tr:nth-child(odd) { background: #EEEEEE; }
table.table-hover tbody tr:hover { background: #FBC02D; }

var { font-style: oblique; }

.block {
	display: block;
}

.bordered { border: 1px solid #212121; }

.container {
	max-width: 992px;
	width: 100%;
	margin: 0 auto;
}

.dashed-underline {
	border: none;
	border-bottom: 1px dashed #212121;
}

.dotted-underline {
	border: none;
	border-bottom: 1px dotted #212121;
}

.no-border { border: none; }

.float-left { float: left; }
.float-right { float: right; }

.scroll { 
	scroll: auto;
	overflow: hidden;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-upper { text-transform: uppercase; }
.text-lower { text-transform: lowercase; }
.text-capital { text-transform: capitalize; }
.text-nowrap { white-space: nowrap; }

.width-full {
	max-width: 100%;
	width: 100%;
}

/* Definitions */
dt { font-weight: bold; }
/* Definitions */

/* Lists */
ul.list-inline li { display: inline-block; }
ul.list-nostyle { list-style: none; }
/* Lists */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12,
.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12,
.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12,
.grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12,
.grid-xl-1, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-10, .grid-xl-11, .grid-xl-12
{
	display: inline-block;
	float: left;
	min-height: 1px;
}

.grid-12,
.grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12,
.grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12,
.grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12,
.grid-xl-1, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-10, .grid-xl-11, .grid-xl-12
{ width: 100%; }
.grid-11 { width: 91.66%; }
.grid-10 { width: 83.33%; }
.grid-9 { width: 75%; }
.grid-8 { width: 66.66%; }
.grid-7 { width: 58.33%; }
.grid-6 { width: 50%; }
.grid-5 { width: 41.66%; }
.grid-4 { width: 33.33%; }
.grid-3 { width: 25%; }
.grid-2 { width: 16.66%; }
.grid-1 { width: 8.33%; }

/* BEGIN: Buttons */
button.active, button:active{ 
	outline: 0px none;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;
	border: 0px 3px 5px rgba(0, 0, 0, 0.25) inset;
}
/*END: Buttons */

/* BEGIN: Colors */
.bg-green { background: #388E3C; }
.fg-green, ins { color: #388E3C; }
.fg-green.bordered { border: 1px solid #388E3C; }
.bg-green.hover:hover { background: #4CAF50; }

.bg-light-green { background: #689F38; }
.fg-light-green { color: #689F38; }
.bg-light-green.hover:hover { background: #8BC34A; }

.bg-lime { background: #AFB42B; }
.fg-lime { color: #AFB42B; }
.bg-lime.hover:hover { background: #CDDC39; }

.bg-yellow, mark { background: #FBC02D; }
.fg-yellow { color: #FBC02D; }
.bg-yellow.hover:hover { background: #FFEB3B; }

.bg-amber { background: #FFA000; }
.fg-amber { color: #FFA000; }
.bg-amber.hover:hover { background: #FFC107; }

.bg-blue { background: #1976D2; }
.fg-blue { color: #1976D2; }
.bg-blue.hover:hover { background: #2196F3; }

.bg-light-blue { background: #0288D1; }
.fg-light-blue { color: #0288D1; }
.bg-light-blue.hover:hover { background: #03A9F4; }

.bg-indigo { background: #303F9F; }
.fg-indigo { color: #303F9F; }
.bg-indigo.hover:hover { background: #3F51B5; }

.bg-cyan { background: #0097A7; }
.fg-cyan { color: #0097A7; }
.bg-cyan.hover:hover { background: #00BCD4; }

.bg-teal { background: #00796B; }
.fg-teal { color: #00796B; }
.bg-teal.hover:hover { background: #009688; }

.bg-red { background: #D32F2F; }
.fg-red, del { color: #D32F2F; }
.bg-red.hover:hover { background: #F44336; }

.bg-pink { background: #C2185B; }
.fg-pink { color: #C2185B; }
.bg-pink.hover:hover { background: #E91E63; }

.bg-purple { background: #7B1FA2; }
.fg-purple { color: #7B1FA2; }
.bg-purple.hover:hover { background: #9C27B0; }

.bg-dark-purple { background: #512DA8; }
.fg-dark-purple { color: #512DA8; }
.bg-dark-purple.hover:hover { background: #673AB7; }

.bg-orange { background: #F57C00; }
.fg-orange { color: #F57C00; }
.bg-orange.hover:hover { background: #FF9800; }

.bg-dark-orange { background: #E64A19; }
.fg-dark-orange { color: #E64A19; }
.bg-dark-orange.hover:hover { background: #FF5722; }

.bg-brown { background: #5D4037; }
.fg-brown { color: #5D4037; }
.bg-brown.hover:hover { background: #795548; }

.bg-grey { background: #616161; }
.fg-grey { color: #616161; }
.bg-grey.hover:hover { background: #9E9E9E; }

.bg-blue-grey { background: #455A64; }
.fg-blue-grey { color: #455A64; }
.bg-blue-grey.hover:hover { background: #607D8B; }

.bg-black { background: #000000; }
.fg-black { color: #000000; }
.bg-black.hover:hover { background: #333333; }

.bg-white { background: #FFFFFF; }
.fg-white { color: #FFFFFF; }
.bg-white.hover:hover { background: #DDDDDD; }
/* END: Colors */

/* BEGIN: Display */
.display { display: block; }

.hidden, .display-sm, .display-md, .display-lg, .display-xl { display: none; }

.rounded {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.rounded-full {
	border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
}
/* END: Display */

@media screen and (min-width : 480px) {
	.display-xs, .display-sm { display: block;
	}

	.hidden-xs, .hidden-sm, .display-md, .display-lg, .display-xl { display: none;
	}

	.grid-sm-12 { width: 100%; }
	.grid-sm-11 { width: 91.66%; }
	.grid-sm-10 { width: 83.33%; }
	.grid-sm-9 { width: 75%; }
	.grid-sm-8 { width: 66.66%; }
	.grid-sm-7 { width: 58.33%; }
	.grid-sm-6 { width: 50%; }
	.grid-sm-5 { width: 41.66%; }
	.grid-sm-4 { width: 33.33%; }
	.grid-sm-3 { width: 25%; }
	.grid-sm-2 { width: 16.66%; }
	.grid-sm-1 { width: 8.33%; }
}

@media screen and (min-width : 768px) {
	.display-xs, .display-sm, .display-md { display: block; }

	.grid-md-12 { width: 100%; }
	.grid-md-11 { width: 91.66%; }
	.grid-md-10 { width: 83.33%; }
	.grid-md-9 { width: 75%; }
	.grid-md-8 { width: 66.66%; }
	.grid-md-7 { width: 58.33%; }
	.grid-md-6 { width: 50%; }
	.grid-md-5 { width: 41.66%; }
	.grid-md-4 { width: 33.33%; }
	.grid-md-3 { width: 25%; }
	.grid-md-2 { width: 16.66%; }
	.grid-md-1 { width: 8.33%; }
	
	.hidden-xs, .hidden-sm, .hidden-md, .display-lg, .display-xl { display: none; }
}

@media screen and (min-width : 992px) {
	.display-xs, .display-sm, .display-md, .display-lg { display: block; }

	.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg, .display-xl { display: none; }

	.grid-lg-12 { width: 100%; }
	.grid-lg-11 { width: 91.66%; }
	.grid-lg-10 { width: 83.33%; }
	.grid-lg-9 { width: 75%; }
	.grid-lg-8 { width: 66.66%; }
	.grid-lg-7 { width: 58.33%; }
	.grid-lg-6 { width: 50%; }
	.grid-lg-5 { width: 41.66%; }
	.grid-lg-4 { width: 33.33%; }
	.grid-lg-3 { width: 25%; }
	.grid-lg-2 { width: 16.66%; }
	.grid-lg-1 { width: 8.33%; }
}

@media screen and (min-width : 1200px) {
	.display-xs, .display-sm, .display-md, .display-lg, .display-xl { display: block; }

	.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg, .hidden-xl { display: none; }

	.grid-xl-12 { width: 100%; }
	.grid-xl-11 { width: 91.66%; }
	.grid-xl-10 { width: 83.33%; }
	.grid-xl-9 { width: 75%; }
	.grid-xl-8 { width: 66.66%; }
	.grid-xl-7 { width: 58.33%; }
	.grid-xl-6 { width: 50%; }
	.grid-xl-5 { width: 41.66%; }
	.grid-xl-4 { width: 33.33%; }
	.grid-xl-3 { width: 25%; }
	.grid-xl-2 { width: 16.66%; }
	.grid-xl-1 { width: 8.33%; }
}

@media screen and (max-width: 767px) {
	.scroll {
		border: 1px solid #EEEEEE;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow: auto;
		width: 100%;
	}
}
